//$.fancybox.close();
$('#edit_content').html("<%= escape_javascript(render('/themes/form')) %>");
// $('#message').html('<p id="the_message"><%= t("theme.updated") %></p>');
// $('#the_message').fadeOut(2000);